<%- include include/header.html%>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% article.forEach(function(item){%>
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="<%=item.user.avatar%>" class="avatar" style="width:32px;height:32px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/article/detail/<%=item._id%>"><%=item.title%></a>
                    </h4>
                    <p><%=item.content%></p>
                    <p>author:<%=item.user.username%>|发表日期:<%=item.createAt.toLocaleString()%></p>
                </div>
            </div>
            <%})%>
        </div>
    </div>
<%- include include/footer.html%>